# Node modules
node_modules/
client/node_modules/
server/node_modules/

# React build folder
client/build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
